* {
  margin: 0;
}

/* HEADER */
header {
  height: fit-content;
  width: 85vw;
  /* background-color: #545e6c; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: arial;
  font-size: 20px;
  margin-left: 70px;
  z-index: 1999;
  position: fixed;
  top: 3;
  left: 0;
  right: 0;
}
header .logo {
  background-image: url(../images/logo.png);
  height: 100px;
  width: 80px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

header h1 {
  font-size: 22px;
}

header .nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav a {
  text-decoration: none;
  color: white;
}
header .nav a:hover {
  color: black;
}
header .nav a.active {
  color: black;
}
header .header-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  border: solid 2px black;
  color: white;
  font-size: 20px;
  font-family: arial;
  border-radius: 25px;
  text-transform: capitalize;
  cursor: pointer;
  transition: transform 250ms;
}
a:link {
  text-decoration: none;
}
header .header-btn:hover,
.header-btn:focus-visible {
  background-color: rgb(40, 30, 1);
  color: white;
  transform: translateY(-1.75rem);
  transition: transform 250ms;
}

/* HERO  */
.hero {
  position: relative;
  height: auto;
  width: 100vw;
  color: rgb(242, 237, 240);
  font-family: sans-serif;
  background-image: url(../images/hero-img.jpg);
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 71, 71, 0.797);
}

.hero .hero-content {
  z-index: 1999;
  position: absolute;
  top: 35vh;
  left: 30vw;
}

.hero .hero-content h1 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.5cm;
  text-transform: capitalize;
  width: 50%;
  text-align-last: center;
  margin-bottom: 10px;
}

.hero .hero-content p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1cm;
  font-weight: 100;
  margin-bottom: 10px;
  width: 60%;
}
.hero .hero-content .hero-btn {
  margin-top: 20px;
  border: solid 1px black;
  background-color: white;
  color: black;
  border-radius: 20px;
  height: 50px;
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 250ms;
}
.hero-btn a {
  text-decoration: none;
}
.hero .hero-content .hero-btn:hover,
.hero-btn:focus-visible {
  background-color: rgb(40, 30, 1);
  color: white;
  transform: translateY(-1.75rem);
  transition: transform 250ms;
}
/* ABOUT */
.about {
  height: auto;
  width: 100%;
  font-family: arial;
  margin-bottom: 50px;
}
.about h1 {
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  padding-top: 40px;
  margin-bottom: 50px;
}
.about .about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-info .mask {
  width: 40%;
}
.about .about-info .mask h1 {
  width: 70%;
  margin-left: 100px;
  font-size: 6vw;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.about .about-info .explaination {
  width: 50%;
}
.about .about-info .explaination h2 {
  width: 70%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 01cm;
  font-weight: 100;
}
.about .about-info .explaination p {
  width: 50%;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 0.8cm;
  margin-bottom: 30px;
}
/* SERVICES */
.services {
  padding: 50px;
  height: auto;
  width: 100vw;
  background: linear-gradient(
    45deg,
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1)
  );
  color: white;
  font-family: arial;
  text-transform: capitalize;
}
.services h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  margin-bottom: 50px;
  padding-left: 50px;
}
.services .container {
  margin-bottom: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .services .container .boxes {
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow-x: clip;
    padding-block: 7rem;
    margin-block-end: 3rem;
  }
}

@media (min-width: 400px) {
  .services .container .boxes .wwo button {
    margin-bottom: 50px;
  }
  .services .container .boxes .wwo p {
    width: 80%;
  }
}
.services .container .wwo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.services .container .boxes .wwo i {
  color: rgb(244, 154, 10);
  font-size: 30px;
  margin-right: 20px;
}
.services .container .boxes .wwo h5 {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: 600;
}
.services .container .boxes .wwo p {
  width: 50%;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 0.8cm;
  margin-left: 50px;
}
.services .container .boxes .wwo button {
  color: rgb(244, 154, 10);
  background-color: transparent;
  border: none;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 18px;
  text-transform: capitalize;
}
/* PROPERTIES */
.properties {
  height: auto;
  width: 100%;
  font-family: arial;
  margin-bottom: 50px;
}
.properties h1 {
  font-size: 50px;
  letter-spacing: 4px;
  line-height: 1.5cm;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 50px;
}
.properties p {
  text-align: end;
  margin-top: 20px;
  margin-bottom: 30px;
}
.properties .pagination {
  font-size: x-large;
  color: rgb(244, 154, 10);
  margin-top: 20px;
  margin-bottom: 30px;
}
.properties .houses {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

.properties .houses .polaroid {
  width: fit-content;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
}
.properties .house-img {
  height: 30vh;
  width: 30vw;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}
.properties .houses .property6 {
  background-image: url(../images/property6.jpg);
}
.properties .houses .property1 {
  background-image: url(../images/property1.jpg);
}
.properties .houses .property2 {
  background-image: url(../images/property2.jpg);
}
.properties .houses .property3 {
  background-image: url(../images/property3.jpg);
}
.properties .houses .property4 {
  background-image: url(../images/property4.jpg);
}
.properties .houses .property5 {
  background-image: url(../images/property5.jpg);
}
.properties .houses .property7 {
  background-image: url(../images/property7.jpg);
}
.properties p {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
}
.properties p span {
  color: rgb(103, 98, 90);
  font-weight: 700;
  font-size: 25px;
}
.properties button {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: capitalize;
  border: solid 2px rgb(244, 154, 10);
  background-color: white;
  color: black;
  border-radius: 20px;
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-left: 40vw;
  font-size: 18px;
}
/* AGENTS */
.agents {
  height: auto;
  width: 100%;
  margin-left: 70px;
  font-family: arial;
  margin-bottom: 50px;
}
.agents h1 {
  font-size: 50px;
  text-transform: capitalize;
  font-family: system-ui;
  letter-spacing: 2px;
  line-height: 1cm;
  margin-top: 30px;
  margin-bottom: 20px;
}
.agents p {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1cm;
  margin-bottom: 20px;
}
.agents .people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.agents .people .agent-img {
  height: 40vh;
  width: 25vw;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.agents .people .agent1 {
  background-image: url(../images/agent1.jpg);
}
.agents .people .agent2 {
  background-image: url(../images/agent2.jpg);
}
.agents .people .agent3 {
  background-image: url(../images/agent3.jpg);
}
.agents .people h5 {
  color: rgb(103, 98, 90);
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: arial;
  margin-top: 20px;
}
.agents .people p {
  font-size: 18px;
  font-weight: 100;
  text-transform: capitalize;
  color: rgb(244, 154, 10);
  letter-spacing: 1px;
  line-height: 1cm;
  margin-bottom: 10px;
}
/* TESTIMONIALS */
.testimony {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.testimony h1 {
  font-size: 50px;
  color: rgb(244, 154, 10);
  text-transform: capitalize;
  font-family: system-ui;
  letter-spacing: 4px;
  line-height: 1.5cm;
  margin-top: 30px;
  margin-bottom: 20px;
}
.testimony p {
  font-size: 20px;
  width: 50%;
  text-align-last: center;
  letter-spacing: 1px;
  line-height: 0.8cm;
  margin-bottom: 10px;
  color: rgb(103, 98, 90);
}
.testimony .test {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimony .test .img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.testimony .test p {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: medium;
}
/* CONTACT */
.contact {
  height: auto;
  width: 100%;
}

.contact h1 {
  font-size: 50px;
  text-transform: capitalize;
  font-family: system-ui;
  letter-spacing: 4px;
  line-height: 1.5cm;
  margin-top: 50px;
  text-align: center;
}
.contact .form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contact .form label {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: arial;
}
.contact .form label span {
  color: rgb(244, 154, 10);
  font-size: 15px;
}
.contact .form .input {
  height: 50px;
  width: 40vw;
  border-radius: 20px;
  border: none;
  background: linear-gradient(
    45deg,
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1)
  );
  padding-left: 20px;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  position: relative;
}
.contact .form #input1 {
  animation-timing-function: linear;
}
.contact .form #input2 {
  animation-timing-function: ease;
}
.contact .form #input3 {
  animation-timing-function: ease-in;
}
.contact .form #input4 {
  animation-timing-function: ease-in-out;
}
.contact .form #input5 {
  animation-timing-function: ease-out;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.contact .form .message {
  border-radius: 20px;
  border: none;
  background: linear-gradient(
    45deg,
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1)
  );
  padding: 20px;
  color: gray;
  height: 100px;
  width: 40vw;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  position: relative;
}
/* <!-- FOOTER --> */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(
    45deg,
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1)
  );
}
footer h1 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: cursive;
  letter-spacing: 1.5px;
  line-height: 1.5cm;
  margin-bottom: 50px;
}
footer .logo {
  background-image: url(../images/logo.png);
  height: 100px;
  width: 80px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
footer h6 {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: arial;
}
footer .footer-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .footer-nav a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  text-transform: capitalize;
}
footer .footer-nav a:hover {
  color: black;
}

a:link {
  text-decoration: none;
}

footer .i {
  color: rgb(244, 154, 10);
  margin-top: 20px;
  font-size: larger;
}
/*  back to the top */
.top {
  margin-left: 40vw;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  font-family: arial;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 2cm;
  padding: 5px;
  background: linear-gradient(
    45deg,
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1),
    rgb(38, 36, 34),
    rgb(103, 98, 90),
    rgb(38, 36, 34),
    rgb(40, 30, 1)
  );
  border: solid 2px rgb(244, 154, 10);
  color: white;
  border-radius: 25px;
  text-transform: capitalize;
}
@media (max-width: 950px) {
  header {
    height: auto;
  }

  h1 {
    font-size: 20px;
  }

  header .nav,
  .about .about-info,
  footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  p {
    width: 90%;
  }
}
@media (min-width: 400px) {
  .about .about-info .explaination p {
    width: 90%;
  }
}
@media (min-width: 780px) {
  .about .about-info .explaination p {
    width: 90%;
  }
}
